form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
}

form label {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

input,
textarea {
  width: 100%;
  margin-top: 8px;
  border: 1px solid #c3c3c3;
  border-radius: 32px;
  padding: 20px 32px;
}

input::placeholder,
textarea::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

.form-checkbox {}

.form-group-checkbox {
  display: flex;
}

.form-group-checkbox>label {
  display: flex;
  gap: 12px;
  margin: 24px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.checkboxProject {
  width: auto;
}

.form-group-checkbox span {
  width: 100%;
  margin-top: 10px;
}

.form-group {
  display: flex;
  gap: 102px;
}

.project-render {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  margin: 240px auto 0 auto;
}

.project-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.card-project {
  flex: 20%;
  flex-direction: column;
}

.card-project-img {
  width: 100%;
  height: 240px;
  border-radius: 24px;
  overflow: hidden;
}

.card-project-title {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.card-project-duration {}

.card-project-desc {
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-project-icon {
  display: flex;
  gap: 24px;
}

.project-item {
  font-size: 2rem;
}